@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');


@mixin border{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}

@mixin hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 30px 9px #FFFFFF; 
    box-shadow: 0px 0px 30px 9px #FFFFFF;
}

@mixin whiteBtn {
    background: hsl(0, 0%, 100%);
    position: relative;
    padding: 2em;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 13px 0px 2px #BABFD4; 
    box-shadow: inset 0px 5px 0px 0.5px #BABFD4;
}
*{
    box-sizing: border-box;
    margin: 0;
}



body{
    position: relative;
    margin: 0 auto;
    height: 100svh;
    width: 100%;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 4fr .5fr;
    
    padding: 2em;
    background: linear-gradient(to bottom,  hsl(214, 47%, 23%),hsl(237, 49%, 15%) );
    background-repeat: no-repeat;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;
    
}

header{
    width: 100%;
    max-width: 700px;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 15px;
    padding: 2em;
    display: flex;
    gap: .5em;
    justify-content: space-between;
    align-items: center;

    img{
        max-width:50%;
        height: 100%;
    }
    .score-container{
        background: hsl(0, 0%, 100%);
        border-radius: 15px;
        padding: 1em 2em;
        color: hsl(229, 64%, 46%);
        
        text-align: center;
        letter-spacing: 2px;
    
        span{
            color: hsl(229, 25%, 31%);
            font-size: 3rem;
            font-weight: 700;
        }
    }
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.step1{
    

    background: url(../images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 5em 8em; 
    grid-template-areas: 
        "paper scissor"
        "rock rock"; 
}

.step2{
    display: flex;
    flex-direction: column;
    gap: 5em;
    justify-content: space-around;
    

    .fight-container{
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5em;

        .player-tag{
            margin-top: 2em;
            text-align: center;  
            color: #FFFFFF;
            text-transform: uppercase;
        }
        
    }

    .result-container{
        display: flex;
        flex-direction: column;
        gap: 2em;
        p{
            text-align: center;
            font-size: 5rem;
            font-weight: 700;
            color: #FFFFFF;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        .btn-sec{
            border: 1px solid transparent;
            padding: .5em 2em;
            border-radius: 15px;
            background: #FFFFFF;
            text-align: center;
            font-size: 1.5rem;
            text-transform: uppercase;
            color:hsl(237, 49%, 15%);
            letter-spacing: 2px;
    
            &:hover{
                cursor: pointer;
                background: transparent;
                border: 1px solid #fff;
                color: #fff;
            }
        }
    }

}

.clickObject{
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
}



.rock{
    @include border();
    background: linear-gradient(to bottom, hsl(349, 83%, 56%), hsl(349, 62%, 49%));
    grid-area: rock;
    justify-self: center;
    -webkit-box-shadow: inset 0px -7px 0px -1px hsl(347, 75%, 35%); 
    box-shadow: inset 0px -7px 0px -1px hsl(347, 75%, 35%);
    position: relative;

    &:hover{
        @include hover();
    }
}

.paper{
    @include border();
    background: linear-gradient( to bottom,hsl(230, 82%, 63%), hsl(230, 91%, 58%));
    grid-area: paper;
    -webkit-box-shadow: inset 0px -7px 0px -1px hsl(229, 64%, 46%); 
    box-shadow: inset 0px -7px 0px -1px hsl(229, 64%, 46%);
    position: relative;

    &:hover{
        @include hover();
    }
}

.scissors{
    @include border();
    background: linear-gradient(to bottom, hsl(39, 88%, 55%), hsl(40, 83%, 50%));
    grid-area: scissor;
    -webkit-box-shadow: inset 0px -7px 0px -1px hsl(28, 76%, 44%); 
    box-shadow: inset 0px -7px 0px -1px hsl(28, 76%, 44%);
    position: relative;

    &:hover{
        @include hover();
    }
}


.img-container{
    @include whiteBtn();
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
    
    img{
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


footer{
    justify-self: center;

    .rules-btn{
        border: 1px solid hsl(0, 0%, 100%);
        border-radius: 15px;
        padding:  1em 3em ;
        color: hsl(0, 0%, 100%);
        text-transform: uppercase;
        letter-spacing: 2px;

        &:hover{
            cursor: pointer;
            color: hsl(237, 49%, 15%);
            background: hsl(0, 0%, 100%);
        }
    }
}

.modal{
    position: absolute;
    top: 1em;
    left: 0;
    height: 90svh;
    width: 100%;
    padding: 1em;
    background: hsl(0, 0%, 100%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: hsl(229, 25%, 31%);
    font-size: 3rem;
}

.hidden{
    display: none;
}

.not-visible{
    visibility: hidden;
}